# Global owners
* @cloudflare/wrangler
/.changeset/ @cloudflare/wrangler @cloudflare/pages @cloudflare/d1
/fixtures/ @cloudflare/wrangler @cloudflare/pages @cloudflare/d1
*.test.* @cloudflare/wrangler @cloudflare/pages @cloudflare/d1
/packages/wrangler/CHANGELOG.md @cloudflare/wrangler-admins
/packages/pages-shared/ @cloudflare/pages
/packages/wrangler/pages/ @cloudflare/pages
/packages/wrangler/src/api/pages/ @cloudflare/pages
/packages/wrangler/src/pages/ @cloudflare/pages
/packages/wrangler/src/pages.* @cloudflare/pages
/packages/wrangler/src/d1/ @cloudflare/d1
